:root {
  --tab-height: 70px;
}

.all-tabs {
  height: var(--tab-height);
  position: relative;
  right: 0;
  top: 0;
  .tabs {
    display: flex;
    height: 100%;
    .tab {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      color: var(--text-color);
      text-align: center;
      width: 100%;
      &.active {
        border-bottom: 2px solid var(--border-color);
        text-transform: uppercase;
      }
      &.disabled-tab {
        cursor: default;
      }
    }
  }
}
.tab-view {
  position: relative;
  width: 100%;
  height: calc(100vh - var(--tab-height));
  overflow-y: auto;
  overflow-x: hidden;

  &.history {
    padding-top: unset;
  }
}
