.file-upload-container {
  display: flex;
  justify-content: flex-end;
  max-width: calc(100% - 50px) !important;
}

.files-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  background-color: var(--secondary-background-color);
  min-height: 150px;
  padding: 10px;
  width: calc(100% - 24px); /* 20px for padding + 4 for border */
  height: calc(100% - 24px); /* 20px for padding + 4 for border */

  .no-files-msg {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: pre-line;
    height: 100%;

    .msg-row {
      margin: 5px 0;
    }
  }

  .selected-file {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
  }
}

.dropzone {
  position: relative;
  width: 100%;

  &.active {
    .dropzone-overlay {
      display: flex;
      width: 100%;
      height: 100%;
      position: absolute;
      flex-direction: column;
      justify-content: center;
      z-index: 100;
      opacity: 0.8;
      background: #a689e1;
      border-radius: 10px;
      .overlay-content {
        .app-icon {
          color: var(--text-color);
        }
      }
    }
  }
}

.dropzone-overlay {
  display: none;
}

.file-upload-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50px;
}
