.react-date-picker {
  .react-date-picker__button {
    svg {
      stroke: var(--accent-color) !important;
    }
  }

  .react-calendar {
    border-radius: 20px;
    border: 1px solid var(--border-color);
    background-color: var(--background-color);
    padding: 10px;
    color: var(--text-color);
    * {
      background-color: inherit;
      color: var(--text-color);

      &:hover {
        background-color: inherit;
        color: var(--text-color);
      }
    }

    button {
      border-radius: 10px;
    }
  }

  .react-calendar__month-view__days__day:hover {
    background-color: var(--border-color);
  }

  .react-calendar__navigation button {
    &:enabled:hover,
    &:enabled:focus {
      background-color: var(--border-color);
    }
    &:disabled {
      background-color: inherit;
    }
  }

  .react-calendar__tile:disabled {
    background-color: var(--background-color);
  }
}
