.app-checkbox,
.app-file-selector,
.app-input,
.app-selector {
  &.required {
    .label {
      &::after {
        content: "*";
      }
    }
  }

  .text-danger {
    color: var(--red-color);
  }
}
