.app-content {
  overflow: auto;
}

.Toastify__toast {
  background-color: var(--border-color);
  color: var(--text-color);

  &.Toastify__toast--success {
    background-color: green;
  }

  &.Toastify__toast--warning {
    background-color: orange;
  }

  &.Toastify__toast--error {
    background-color: var(--red-color);
    svg {
      fill: var(--border-color);
    }
  }
}
