.menu {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100px;
  transition: width 0.5s ease;
  border: 1px solid var(--border-color);

  .title {
    display: flex;
    flex-direction: column-reverse;
  }

  &.open {
    width: 250px;

    .title {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 20px;

      .icon {
        display: flex;
        position: absolute;
        right: 0;
      }
    }
    .link-menu {
      margin-left: 40px;
      justify-content: flex-start;
    }
  }

  .menu-bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.menu-links {
  margin-top: 20px;
  overflow-y: auto;
  .link-menu {
    margin-left: 0;
    justify-content: center;
    text-decoration: none;
    white-space: nowrap;
    border: 0;
    font-size: 13px;

    .item {
      display: flex;
      align-items: center;
      height: 45px;
    }

    .app-icon {
      display: flex;
      width: 30px;
      margin: 0 15px;
      justify-content: center;
      color: var(--text-color);
    }
    .menu-label {
      color: var(--text-color);
    }

    &:hover,
    &.active {
      .menu-label {
        color: var(--accent-color);
        text-transform: uppercase;
        font-weight: 600;
      }
    }

    &.active {
      .app-icon {
        color: var(--accent-color);
      }
    }
  }
}
