.app-button {
  background-color: var(--accent-color);
  color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--accent-color);
  min-width: 100px;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 20px;
  cursor: pointer;

  span {
    flex: 1;
  }

  &:hover {
    background-color: var(--background-color) !important;
    color: var(--accent-color);
    .app-icon {
      color: var(--accent-color);
    }
  }

  &.reverse {
    background-color: var(--background-color);
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    .app-icon {
      color: var(--accent-color);
    }

    &:hover {
      background-color: var(--accent-color);
      color: var(--background-color);
      .app-icon {
        color: var(--background-color);
      }
    }
  }

  &.red {
    background-color: var(--red-color);
    color: var(--background-color);
    border: 1px solid var(--red-color);
    .app-icon {
      color: var(--background-color);
    }

    &:hover {
      background-color: var(--background-color);
      color: var(--red-color);
      border: 1px solid var(--red-color);
      .app-icon {
        color: var(--red-color);
      }
    }
  }

  &.disabled {
    background-color: var(--background-color);
    color: var(--border-color);
    border: 1px solid var(--border-color);
    cursor: default;

    .app-icon {
      color: var(--border-color);
      cursor: default;
    }

    &:hover {
      background-color: var(--background-color);
      color: var(--border-color);
      border: 1px solid var(--border-color);
    }
  }

  .app-icon {
    color: var(--background-color);
    margin-left: 5px;
  }
}
