.hero-card {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 50px;

  .title {
    text-align: center;
  }

  img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
  }
}
