.tgl {
  display: none;
  &,
  &:after,
  &:before,
  & *,
  & *:after,
  & *:before,
  & + .tgl-btn {
    box-sizing: border-box;
    &::selection {
      background: none;
    }
  }

  + .tgl-btn {
    background: var(--border-color);
    border-radius: 2em;
    padding: 2px;
    outline: 0;
    display: block;
    position: relative;
    cursor: pointer;
    user-select: none;
    transition: all 0.4s ease;
    &:after,
    &:before {
      position: relative;
      display: block;
      content: "";
      width: 50%;
      height: 100%;
    }

    &:after {
      border-radius: 50%;
      background: var(--text-color);
      transition: all 0.2s ease;
      left: 0;
    }

    &:before {
      display: none;
    }
  }

  &:checked + .tgl-btn {
    background: var(--accent-color);
  }
  &:checked + .tgl-btn:after {
    left: 50%;
  }
}

.disabled {
  .tgl-btn {
    cursor: default;
  }
}
