.notif-type {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.app-button.notify-button {
  color: var(--text-color);
  background-color: var(--border-color);
  border-color: var(--border-color);
  margin: 5px;
  &:hover {
    color: var(--text-color);
  }
}

.app-button.success-button {
  color: var(--text-color);
  background-color: green;
  border-color: green;
  &:hover {
    color: green;
  }
}

.app-button.warning-button {
  color: var(--text-color);
  background-color: orange;
  border-color: orange;
  &:hover {
    color: orange;
  }
}

.app-button.error-button {
  color: var(--text-color);
  background-color: var(--red-color);
  border-color: var(--red-color);
  &:hover {
    color: var(--red-color);
  }
}
