.ToolTip {
  display: none;
  line-height: 1;
  padding: 7px 15px;
  border-radius: 5px;
  font-size: 7px;
  font-weight: normal !important;
  color: var(--text-color);
  background: var(--secondary-background-color);
  font-size: 13px;
  font-family: sans-serif;
  opacity: 0.8;
  z-index: 999;
  transition: opacity 0.5s;
  width: max-content;
  max-width: 300px;
  overflow-wrap: break-word;
  box-shadow: 1px 1px 10px var(--border-color);
  white-space: pre-line;
}

.ToolTip.display {
  display: block;
  position: absolute;
}

.ToolTip::before {
  content: "";
  left: 50%;
  background: var(--secondary-background-color);
  height: 9px;
  width: 9px;
  position: absolute;
  pointer-events: none;
  transform-origin: 50% 50%;
  transform: rotate(45deg) translateX(-50%) translateZ(-1px);
}

.ToolTip.right::before {
  left: -8px;
  top: calc(50% - 1.5px);
  transform: rotate(45deg) translateX(0) translateY(-50%);
}

.ToolTip.bottom::before {
  top: -2px;
}

.ToolTip.top::before {
  bottom: -8px;
}

.ToolTip.left::before {
  left: unset;
  right: -2px;
  top: calc(50% - 1.5px);
  transform: rotate(45deg) translateX(0) translateY(-50%);
}
