/* Make sure parent element has overflow: hidden property */
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hidden {
  overflow: hidden;
}

.scroll {
  overflow: scroll;
}

.display-none {
  display: none;
}
