.sys-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 50px;

  .fields-container {
    display: flex;
    justify-content: space-around;
    width: 100%;

    .field {
      display: flex;
      flex-direction: column;
      flex: 1;
      height: 100px;

      .header {
        flex: 1;
      }
      .content {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        &.actions {
          display: flex;
          justify-content: space-around;
        }
      }
    }
  }

  .system-container {
    span {
      display: block;
      margin-bottom: 20px;
    }
  }
}

.ls-clear-all {
  margin-top: 20px;
  padding: 15px;
  width: 300px;
}

@media (max-width: 700px) {
  .sys-container {
    padding: 50px 10px;

    .fields-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .field {
        flex: none;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 50px;
      }
    }
  }
}
