.view-form {
  .app-checkbox,
  .app-file-selector,
  .app-input,
  .app-selector {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    position: relative;

    &.required {
      .label {
        &::after {
          content: '*';
        }
      }
    }

    .text-danger {
      position: absolute;
      top: 100%;
      right: 50px; /* field-icon width */
      visibility: visible;
      color: var(--red-color);
    }
  }

  .field {
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }

  .field-value {
    max-width: 100%;
  }

  .field-icon {
    width: 50px;
  }

  .files-input {
    display: none;
  }

  .files-field {
    justify-content: flex-end;
    align-items: center;
    flex: 1;
  }

  .app-checkbox .field .checkbox-container,
  .app-input .field .app-input-text {
    align-self: flex-end;
  }

  .reset-form-btn {
    margin-bottom: 20px;
    margin-left: 20px;
  }

  @media (max-width: 500px) {
    .app-checkbox,
    .app-file-selector,
    .app-input,
    .app-selector {
      flex-direction: column;
      margin: 20px 5px;
      .label {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 5px;
      }
      .field {
        width: 100%;
      }
    }
  }
}

.app-file-selector {
  .field {
    .field-value {
      display: flex;
      justify-content: flex-end;
      flex: 1;
      max-width: 100%;
    }

    .field-icon {
      display: none;
    }
  }
}
