.container {
  text-align: center;
  color: var(--text-color);
  min-height: calc(100vh - 40px);
  width: 100%;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: calc(10px + 2vmin);
}

.logo {
  height: 40vmin;
  pointer-events: none;

  @media (prefers-reduced-motion: no-preference) {
    animation: logoAnimation infinite 20s linear;
  }
}

.link {
  color: #61dafb;
}

@keyframes logoAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tips-links {
  display: flex;
  justify-content: space-around;

  .app-button {
    color: var(--text-color);
    .app-icon {
      color: var(--text-color);
    }
    &:hover {
      background-color: var(--background-color);
    }
  }
}

.tip-buymeacoffee {
  background-color: #ffdd00;
  border-color: #ffdd00;
  &:hover {
    color: #ffdd00;
    .app-icon {
      color: #ffdd00;
    }
  }
}

.tip-buymeacoffee {
  background-color: #ffdd00;
  border-color: #ffdd00;
  &:hover {
    color: #ffdd00;
    .app-icon {
      color: #ffdd00;
    }
  }
}

.tip-kofi {
  background-color: #29abe0;
  border-color: #29abe0;
  &:hover {
    color: #29abe0;
    .app-icon {
      color: #29abe0;
    }
  }
}
