@import url(./css/app.css);
@import url(./css/flex.css);
@import url(./css/fonts.css);
@import url(./css/theme.css);
@import url(./css/var.css);

iframe#webpack-dev-server-client-overlay {
  display: none !important;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--accent-color);
  }
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 8px;
    width: 8px;
  }
}
