.theme-selector {
  margin: 1em 0;
}

.box {
  width: 50px;
  display: flex;
  border: 1px solid var(--accent-color);
  border-radius: 12px;
  cursor: pointer;
}
.switch {
  display: inline-block;

  .slider {
    display: flex;
    transform: translateX(0%);
    transition: transform 0.3s ease;
    border-radius: 4px;
  }

  &.active {
    .slider {
      transform: translateX(100%);
    }
  }
}
